html, body, .body-container{
    height: auto;
    color: white;

}
.movie-poster-container > img{
    height: 100%;
    width: 100%;
}
.movie-poster-container{
    aspect-ratio: 2/3;
}
.movie-poster{
    position: relative;
    transition: outline 0.2s;
}
.movie-poster:hover{
    z-index: 10;
    outline: solid rgb(57,126,255) 7px;
}

.movies-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12%, 1fr));
    background-color: rgb(30,30,30);
    justify-content: center;
    grid-gap: 7px;
}
.grid-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
